<html>
  <head>
      <title>{{{title}}}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/main.css"/>
      <link rel="stylesheet" href="css/newBoot.css"/>
      <link rel="stylesheet" href="css/framework.css"/>
      <link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
      <script src="js/modernizr.js"></script> <!-- Modernizr -->
      <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    </head>
    <body>
      <header>
        <div class="top">
          <a href="/"><h2 class="heading1">Welcome to my Blog!</h2></a>
          <!--Strectchable nav!-->
          <nav class="cd-stretchy-nav">
            <a class="cd-nav-trigger" href="#0">
              Menu <span aria-hidden="true"></span>
            </a>
            <ul>
              <li><a href="/"><span>Home</span></a></li>
        			<li><a href="/list" class="active"><span>Articles</span></a></li>
        			<li><a href="/video"><span>Videos</span></a></li>
        			<li><a href="#0"><span>As I'm</span></a></li>
        			<li><a href="#0"><span>Contact</span></a></li>
            </ul>
            <span aria-hidden="true" class="stretchy-nav-bg"></span>
          </nav>
        </div>
      </header>
      <div class="container">
        <div class="mainArticle">
          <h1 class="center" style="font-size:20px; padding-bottom: -2%; font-weight:bold; letter-spacing: 15%;">Path</h1><br>
          <span style="margin-top:-4%; float:right; font-size:10px;">Uploaded 9:33am</span>
          <i style="padding-left: 2em"></i>{{{content}}}
          <div id="comments" class="comments">
            <h2 class="heading2"> Comments</h2><br>
            <ul class="commentdata">

            </ul>
            <form action="/comment"  id="commentform" style="padding-left:10%; padding-top:5%;" >
              <input id="name" style="margin-bottom: 3%;" class="w3-input" type="text" placeholder="Enter your Name">
              <textarea id="comment" class="w3-input" type="text" placeholder="Comment Please" rows="6" cols="40"></textarea>
              <button id="commentsubmit" class="w3-blue w3-btn" style="border:none; margin-top: 3%; float:right; margin-bottom:5%;" type="submit">Post</input>
            </form>
          </div>
        </div><br><br>
        <div class="sidepane">
          <h2 class="center" style="font-weight:bold;">Most Recent Articles</h2>
          <ul>
            <a href="/article"><li>The path story </li></a>
            <a href="/article"><li>The nature story</li></a>
            <a href="/article"><li>The Night story</li></a>
          </ul>
          <h2 class="center" style="font-weight:bold; margin-top:10%;">Famous Article</h2>
          <ul>
            <a href="/article"><li>The path story </li></a>
            <a href="/article"><li>The nature story</li></a>
            <a href="/article"><li>The Night story</li></a>
          </ul>
        </div>
      </div>
      <script src="js/commenthandler.js"></script>
      <script src="js/jquery-2.1.4.js"></script>
      <script src="js/main.js"></script> <!-- Resource jQuery -->
    </body>
  </html>
