<html>
  <head>
    <title>En Karuthugal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/newBoot.css"/>
    <link rel="stylesheet" href="css/framework.css"/>
    <link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
    <script src="js/modernizr.js"></script> <!-- Modernizr -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="top">
        <a href="/"><h2 class="heading1">Welcome to my Blog!</h2></a>
        <!--Strectchable nav!-->
        <nav class="cd-stretchy-nav">
          <a class="cd-nav-trigger" href="#0">
            Menu <span aria-hidden="true"></span>
          </a>
          <ul>
            <li><a href="/" class="active"><span>Home</span></a></li>
      			<li><a href="/list"><span>Articles</span></a></li>
      			<li><a href="/video"><span>Videos</span></a></li>
      			<li><a href="#0"><span>As I'm</span></a></li>
      			<li><a href="#0"><span>Contact</span></a></li>
          </ul>
          <span aria-hidden="true" class="stretchy-nav-bg"></span>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="mainblock col-md-8">
        <div class="heading2 center" style="padding-bottom: 7px">My Intro</div>
          <article> <i style="padding-left: 2em">Hi</i> my name is praveen and I'm starting this blog to convey my thoughts
            and views with this society. This has to go long way! sihdhfdshf hfsdihfiushfihsdu husdhfiudshfiushdf hd.
          </article>
        </div>
    </div>
    <h2 class="heading2 arti">Articles</h2><br><br>
      <div class="articleimage">
        <div class="hover">
          <a href="#"> <img src="{{{data}}}">
              <span class="overlay center">Path</span>
            </a>
          </div>
          <div class="hover">
            <a href="#"><img src="img/nature.jpg">
                <span class="overlay center">Nature</span>
              </a>
          </div>
          <div class="hover">
            <a href="#"><img src="img/night.jpg">
                <span class="overlay center">Night</span>
              </a>
          </div>
      </div>
      <div class="hover view center">
        <a href="/list" class="center">
            View all
          </a>
      </div>
    <script src="js/jquery-2.1.4.js"></script>
    <script src="js/main.js"></script> <!-- Resource jQuery -->
  </body>
<html>
