<html>
  <head>
    <title>En Karuthugal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/newBoot.css"/>
    <link rel="stylesheet" href="css/framework.css"/>
    <link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
    <script src="js/modernizr.js"></script> <!-- Modernizr -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="top">
        <a href="/"><h2 class="heading1">Welcome to my Blog!</h2></a>
        <!--Strectchable nav!-->
        <nav class="cd-stretchy-nav">
          <a class="cd-nav-trigger" href="#0">
            Menu <span aria-hidden="true"></span>
          </a>
          <ul>
            <li><a href="/"><span>Home</span></a></li>
      			<li><a href="/list" class="active"><span>Articles</span></a></li>
      			<li><a href="/video"><span>Videos</span></a></li>
      			<li><a href="#0"><span>As I'm</span></a></li>
      			<li><a href="#0"><span>Contact</span></a></li>
          </ul>
          <span aria-hidden="true" class="stretchy-nav-bg"></span>
        </nav>
      </div>
    </header>
    <h2 class="heading2 arti" style="top:20%;">Articles</h2><br><br>
      <div class="articleimage" style="top:30%";>
        <div class="hover">
          <a href="/article"> <img src="img/path.jpg">
              <span class="overlay center">Path</span>
            </a>
          </div>
          <div class="hover">
            <a href="/article"><img src="img/nature.jpg">
                <span class="overlay center">Nature</span>
              </a>
          </div>
          <div class="hover">
            <a href="/article"><img src="img/night.jpg">
                <span class="overlay center">Night</span>
              </a>
          </div>
      </div>
    <script src="js/jquery-2.1.4.js"></script>
    <script src="js/main.js"></script> <!-- Resource jQuery -->
  </body>
</html>
